@model Examen2.UI.Models.BaTranDiario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BaTranDiario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubtipTransac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubtipTransac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecTransaccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecTransaccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodMoneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodMoneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodSistema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSistema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonMovimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipCambio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsientoContable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsientoContable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beneficiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beneficiario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndEnvCajas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndEnvCajas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodCajero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodCajero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CtaExterna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CtaExterna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumReferencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumReferencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionTime)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
